---
layout: default
---

{% if site.quote -%}
{% assign quote = '"' -%}
{% endif -%}
{% if site.comma -%}
{% assign comma = ',' -%}
{% endif -%}

<div id="json">
  {% for pair in site.data.json %}
  <div class="my ms">
    {% if pair.typed -%}
    <div id="strings">
      {% for value in pair.value -%}
      <span>{{ value }}</span>
      {%- endfor %}
    </div>
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
    {{ quote }}<span class="value"><span id="typed"></span></span>{{ quote }}
    {%- elsif pair.value.first.key -%}
    hash
    {%- elsif pair.value.first -%}
    array
    {%- elsif pair.url -%}
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
    {{ quote }}<a class="value" href="{{ pair.url }}" target="{{ site.target }}">{{ pair.value }}</a></span>{{ quote }}
    {%- else -%}
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
    {{ quote }}<span class="value">{{ pair.value }}</span>{{ quote }}
    {%- endif -%}
    {{ comma }}
  </div>
  {% endfor %}
</div>