<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ site.title }}</title>

  {% seo title=false %}

  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">

  <link rel="stylesheet" href="/assets/css/normalize.min.css" />
  <link rel="stylesheet" href="/assets/css/open-color.min.css" />
  <link rel="stylesheet" href="/assets/css/styles.css" />

  <script src="/assets/js/typed.min.js"></script>
</head>