body {
  font-family: "hack", monospace;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  background-color: $background-color;
  color: $text-color;
}

main {
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: 768px) {
    width: 50%;
  }
}

a {
  color: inherit;
  font-style: italic;

  &:hover,
  &:active {
    color: darken($text-color, 10%);
  }
}
