body {
  font-family: "hack", monospace;
  font-size: 20px;
  font-weight: 400;
  background-color: $background-color;
  color: $text-color;
}

main {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: lowercase;

  div p {
    margin-left: 1.5rem;
  }

  span.key:after {
    content: ": ";
  }

  span.attr {
    &:before {
      content: '"';
    }

    &:after {
      content: '",';
    }
  }

  a {
    color: inherit;

    &:hover,
    &:active {
      color: darken($text-color, 10%);
    }
  }
}
