@font-face {
  font-family: "hack";
  src: url("../fonts/hack-regular-subset.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "hack";
  src: url("../fonts/hack-italic-subset.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
