{% if j.url %}
{% include quote.html -%}
<span class="key">{{ j.key }}</span>
{%- include quote.html -%}
:&nbsp;
{%- include quote.html -%}
<span class="value"><a href="{{ j.url }}" target="{{ site.target }}">{{ j.value }}</a></span>
{%- include quote.html %}
{%- else -%}
{% include quote.html -%}
<span class="key">{{ j.key }}</span>
{%- include quote.html -%}
:&nbsp;
{%- include quote.html -%}
<span class="value">{{ j.value }}</span>
{%- include quote.html %}
{%- endif -%}
{% include comma.html %}