---
---

$color_bg: var(--oc-{{ site.color_bg | default: 'gray-9' }});
$color_punct: var(--oc-{{ site.color_punct | default: 'green-9' }});
$color_key: var(--oc-{{ site.color_key | default: 'green-4' }});
$color_value: var(--oc-{{ site.color_value | default: 'green-4' }});
$color_hover: var(--oc-{{ site.color_hover | default: 'green-5' }});

{% case site.lowercase -%}
{% when 'keys' -%}
$transform_key: lowercase;
$transform_value: none;
{% when 'values' -%}
$transform_key: none;
$transform_value: lowercase;
{% when false -%}
$transform_key: none;
$transform_value: none;
{% else -%}
$transform_key: lowercase;
$transform_value: lowercase;
{% endcase -%}

@import "default";
@import "custom";
