<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }}</title>

{% seo title=false %}
  <link rel="icon" type="image/x-icon" href="{{ 'assets/favicon.ico' | relative_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ 'assets/site.webmanifest' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/normalize.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ 'assets/css/open-color.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}" />
  <script src="{{ 'assets/js/typed.umd.js' | relative_url }}"></script>
</head>

<body>
  <main>

{{ content }}

  </main>
  <script>
    var typed = new Typed("#typed", {
      stringsElement: "#strings",
      backSpeed: 10,
      typeSpeed: 30,
      backDelay: 1000,
      loop: true,
      smartBackspace: true,
    });
  </script>
</body>

</html>