---
layout: default
---

<main class="json">
  <div class="block">
    <p><span class="key">name</span><span class="attr">{{ site.json.name }}</span></p>
    {% if site.json.description.first %}
    <p><span class="key">description</span>{% include typed.html %}</p>
    {% else %}
    <p><span class="key">description</span>{{ site.json.description }}</p>
    {% endif %}
  </div>
  <div class="block">
    {% assign cv = site.json.cv | split: "/" | slice: -1 %}
    <span class="key">cv</span><span class="attr"><a href="{{ site.json.cv }}">{{ cv }}</a></span>
  </div>
  <div class="block">
    <span class="array-key">address</span>
    <div class="array">
      {% for i in site.json.address %}
      <p class="array-attr">{{ i }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="block">
    <span class="list-key">contact</span>
    <div class="list">
      {% for i in site.json.contact %}
      <p><span class="list-subkey">{{ i | slice: 0 }}</span><span class="list-attr">{{ i | slice: 1 }}</span></p>
      {% endfor %}
    </div>
  </div>
  <div class="block">
    {% assign home = site.json.homepage | split: "//" | slice: 1 %}
    <p><span class="key">homepage</span><span class="attr"><a href="{{ site.json.homepage }}">{{ home }}</a></span></p>
    {% assign repo = site.json.repo | split: "//" | slice: 1 %}
    <p><span class="key">repo</span><span class="attr"><a href="{{ site.json.repo }}">{{ repo }}</a></span></p>
  </div>
  <div class="block">
    <span class="array-key">profiles</span>
    <div class="array">
      {% for i in site.json.profiles %}
      <p class="array-attr"><a href="{{ i | slice: 1 }}">{{ i | slice: 0 }}</a></p>
      {% endfor %}
    </div>
  </div>
</main>