---
layout: default
---

{% if site.show_quotes -%}
{% assign quote = '"' -%}
{% endif -%}
{% if site.show_commas -%}
{% assign comma = ',' -%}
{% endif -%}
{% assign target = site.target | prepend: 'target="' | append: '"' -%}

<div id="json">
  {% for pair in site.data.json %}
  <div class="my ms">
    {% if pair.typed -%}
    <div id="strings">
      {% for value in pair.value -%}
      <span>{{ value }}</span>
      {%- endfor %}
    </div>
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
    {{ quote }}<span class="value"><span id="typed"></span></span>{{ quote }}
    {%- elsif pair.value.first.key -%}
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}: [
    {% for value in pair.value -%}
    {% if value.url -%}
    <p class="ms">
      {{ quote }}<span class="key">{{ value.key }}</span>{{ quote }}:
      {{ quote }}<a class="value" href="{{ value.url }}" {{ target }}>{{ value.value }}</a>{{ quote }}
      {%- unless forloop.last -%}
      {{ comma }}
      {%- endunless %}
    </p>
    {% else -%}
    <p class="ms">
      {{ quote }}<span class="key">{{ value.key }}</span>{{ quote }}:
      {{ quote }}<span class="value">{{ value.value }}</span>{{ quote }}
      {%- unless forloop.last -%}
      {{ comma }}
      {%- endunless %}
    </p>
    {% endif -%}
    {%- endfor -%}
    ]
    {%- elsif pair.value.first -%}
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}: [
    {% for value in pair.value -%}
    {% if value.url -%}
    <p class="ms">
      {{ quote }}<a class="value" href="{{ value.url }}" {{ target }}>{{ value.value }}</a>{{ quote }}
      {%- unless forloop.last -%}
      {{ comma }}
      {%- endunless %}
    </p>
    {% else -%}
    <p class="ms">
      {{ quote }}<span class="value">{{ value }}</span>{{ quote }}
      {%- unless forloop.last -%}
      {{ comma }}
      {%- endunless %}
    </p>
    {% endif -%}
    {%- endfor -%}
    ]
    {%- elsif pair.url -%}
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
    {{ quote }}<a class="value" href="{{ pair.url }}" {{ target }}>{{ pair.value }}</a>{{ quote }}
    {%- else -%}
    {{ quote }}<span class="key">{{ pair.key }}</span>{{ quote }}:
    {{ quote }}<span class="value">{{ pair.value }}</span>{{ quote }}
    {%- endif -%}
    {%- unless forloop.last -%}
    {{ comma }}
    {%- endunless %}
  </div>
  {% endfor %}
</div>